@model EAD_Project.Models.RouteDepartureModel

@{
    ViewBag.Title = "UpdateSchedule";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <br>
        <br>
        <h1>
            Edit Schedule
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Dashboard</li>
            <li>Manage Schedules</li>
            <li class="active">Edit Schedule</li>
        </ol>
    </section>

    <section class="content">

        <form method="post" action="~/Admin/ScheduleEdit">
            <br>
            <br>
            <br>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="country">Departure</label>
                    <div class="col-md-9">
                        <input type="hidden" value="@Model.route.Id" name="Id"/>
                        <select path="country" id="country" name="Departure" class="form-control input-sm">
                            <option value="@Model.route.D_Id">@Model.route.Departure</option>

                            @foreach (var s in Model.departure_city)
                            {
                                <option value=@s.Id>@s.Departure</option>
                            }


                        </select>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="country">Arrival</label>
                    <div class="col-md-9">
                        <select path="country" id="country" name="Arrival" class="form-control input-sm">
                            <option value="@Model.route.Arrival">@Model.route.Arrival</option>
                            @foreach (var s in Model.departure_city)
                            {
                                <option value=@s.Departure>@s.Departure</option>
                            }

                        </select>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="dob">Bus Type</label>
                    <div class="col-md-9">
                        <select path="country" id="country" name="Bus_Type" class="form-control input-sm">
                            <option value="@Model.b.Id">Luxury</option>
                            @foreach (var s in Model.bus)
                            {
                                <option value=@s.Id>@s.Bus_Type</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable"  for="dob">Fare</label>
                    <div class="col-md-9">
                        <input type="text" path="dob" id="dob" name="Fare" class="form-control input-sm" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="dob">Departure Time</label>
                    <div class="col-md-9">
                        <input type="time" path="dob" id="dob" name="Departure_Time" class="form-control input-sm" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="dob">Arrival Time</label>
                    <div class="col-md-9">
                        <input type="time" path="dob" id="dob" name="Arrival_Time" class="form-control input-sm" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="dob">Stops</label>
                    <div class="col-md-9">
                        <input type="text" path="dob" id="dob" name="Stops" class="form-control input-sm" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="dob">Status</label>
                    <div class="col-md-9">
                        <select path="country" id="country" name="Status" class="form-control input-sm">
                            <option value="">Select Status</option>
                            <option value="OK">OK</option>
                            <option value="DROP">DROP</option>
                        </select>
                    </div>
                </div>
            </div>

            <div align="center" class="row">
                <div class="form-actions floatRight col-md-8">
                    <input type="reset" value="Reset" class="btn btn-primary btn-sm">
                    <input type="submit" value="Submit" class="btn btn-primary btn-sm">
                </div>
            </div>
        </form>
    </section>
</div>



      </aside><!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->


