@model EAD_Project.Models.UserAdminReservationModel
@{
    ViewBag.Title = "Seats";
}

<div class="about-main">
    <div class="container">
        <center><h3>Available Seats For your Selected Bus</h3></center>
        <div class="main-about">

            <div class="row register">

                <div class="row">
                    <form method="post" action="/Home/Form">
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    Select Seats and Press Next.<br><input type="submit" style="Background: #ffd400;" class="btn btn-lg btn-success btn-block" value="Next"/>


                                </div>
                                <b>Bus ID: @Request["Id"]<br>
                                Route: @Request["Departure"] - @Request["Arrival"]<br>
                                Date: @Request["Date2"] <br>
                                Time: @Request["Departure_Time"] - @Request["Arrival_Time"]<br>
                                Total Seats: 40</b><hr>

                                <input type="hidden" id="datepicker" value="8756" placeholder="Set Date" name="bid">

                            </div>
                            
                            <input type="hidden" name="Id" value="@Request["Id"]">
                            <input type="hidden" name="D_Id" value="@Request["D_Id"]">
                            <input type="hidden" name="Departure" value="@Request["Departure"]">
                            <input type="hidden" name="Arrival" value="@Request["Arrival"]">
                            <input type="hidden" name="Departure_Time" value="@Request["Departure_Time"]">
                            <input type="hidden" name="Arrival_Time" value="@Request["Arrival_Time"]">
                            <input type="hidden" name="Date2" value=@Request["Date2"]>
                               
                            
                                @{
                                    
                                    
                                    for (int i=1; i<=40; i++) {
                                        
                                        var q = from n in Model.seats
                                                where n.SeatNo == i
                                                select n.SeatNo;   
                                        
                                        int j = Model.seats.Where(x => x.SeatNo == i).Select(x => x.SeatNo).FirstOrDefault();
                                        if ( i == j)
                                        { 
                                        <div class="col-lg-3">
                                            <div class="toggle-btn-grp cssonly " id="seat">
                                                <div>
                                                    <input type="checkbox" name="seats[]" value="@i" checked="checked" disabled="disabled" />
                                                    <label onclick="" class="toggle-btn">A.@i</label>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="col-lg-3">
                                            <div class="toggle-btn-grp cssonly " id="seat">
                                                <div>
                                                    <input type="checkbox" name="seats[]" value="@i" />
                                                    <label onclick="" class="toggle-btn">A.@i</label>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    }    
                                }
                           
                           
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

</div>
</div>